/* 1° parte */
.sfondo-int{
    background-image: url('img/pattern.png');
    background-size:auto;
    height: 170px;
    border: 1px solid black;
    background-color:#4ea0ff;
}

.contenitore-logo{
    width: 80%;
    margin: auto;
    
}

.logo{
    width: 20%;
    height: 20%;
}

.contenitore-int{
    width: 80%;
    margin: auto;

}

.grey{
    color: #808080;
}

.lightblue{
    color: #20a9e5;
}
/* fine 1° */
